/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    background-color: black;
}

.header-conteiner{
    text-align: end;
    height: 100%;
    padding: 10px 25px 0 0;
    font-size: 0.75rem;
}

.speakerview{
    text-decoration: none;
    color: white;
    background-color: #4A4A4A;
    padding: 0.25rem;
    border-radius: 5px;
}

.wrapper{
    height: calc(100vh - 50px - 70px);
    overflow-y: auto;
    background-color: black;
}

.webcam-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 100%;
}

.webcam{
    width: 195px;
    height: 120px;
    margin: 4px 2px;
    position: relative;

    /* debug */
    /* background-color: #4A4A4A; */
}

.name{
    bottom: 0;
    left: 0;
    padding: 3px;
    font-size: 0.75rem;
    color: white;
    border-radius: 2px;
    background-color: #66717D;
    position: absolute;
}

.footer{
    display: flex;
    /* justify-content: space-between; */
    height: 70px;
    background-color: #222222;
}

.icon-bar{
    width: 72px;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    color: white;
    font-size: 12px;
}

.icon{
    font-size: 25px;
    margin: 0 15px;
    color: white;
}
.arrow{
    line-height: 70px;
    color: white;
    font-size: 10px;
}

.icon-bar.center{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    max-width: 1280px;
    flex-grow: 1;
}

.end-meeting{
    color: red;
    line-height: 70px;
    background-color: #4A4A4A;
    font-size: 13px;
    padding: 0 15px;
}

.icon.center{
    margin: 0 10px;
}

.icon.green{
    color: green;
}

.share{
    margin-right: 20px;
    position: relative;
}

.arrow-share{
    position: absolute;
    bottom: 30px;
    right: -20px;
}

.icon:hover{
    color: #ff2929;
}

.description:hover{
    color: #ff2929;
    cursor: pointer;
}











